/* как подключать стили для отдельного копанента что бы не писать из внутри jsx разметки */
/* что бы эти стиил применились к конкретному компаненту надо задать название файла по определенному шаблону A.module.css */

.link {
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin: 10px;
}